.headerContainer {
  margin: -8px;
  padding: 1.25em;
  background: var(--bg);
}

.headerNavigation {
  display: flex;
  justify-content: space-between;
}

.headerNavigationList {
  list-style-type: none;
  padding-left: 0;
  display: flex;
}

.headerNavigationList li {
  margin: 0 1.5em;
  font-size: 1.25rem;
  cursor: pointer;
}

.headerNavigationList li a {
  text-decoration: none;
  color: unset;
}

.headerNavigationList li:hover {
  opacity: 0.5;
}

.selectedTab {
  border-bottom: 2px solid var(--clr-text-light);
  padding: 0 2.5px;
  padding-bottom: 2.5px;
}
