.headerContainer {
  margin: -8px;
  padding: 1.25em;
  background: var(--bg);
  box-shadow: 0 1px 2px var(--clr-shadow);
}

.headerNavigation {
  display: flex;
  justify-content: space-between;
}

.headerNavigationList {
  list-style-type: none;
  padding-left: 0;
  display: flex;
}

.headerNavigationList li {
  margin: 0 1.5em;
  font-size: 1.25rem;
  cursor: pointer;
}

.headerNavigationList li a {
  text-decoration: none;
  color: unset;
}

.headerNavigationList li:hover {
  opacity: 0.5;
}
